@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

.Background-Foto {
    width: 100vw;
    height: 100vh;

    background-image: url('../utils/img/Background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}


.Card1 {
    width: 900px;
    height: 700px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Card2 {
    width: 850px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #85DE76;

}

.Titulo {
    font-size: 60px;
    font-family: 'Varela Round';
    font-weight: 400;
    color: #85DE76;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
}

.Formulario {
    padding-top: 30px;
    gap: 50px;
}

p {
    font-family: 'Varela Round';
    font-weight: 400;
    font-size: 30px;
    color: #85DE76;
    padding-bottom: 10px;
}

.Containers-Superior {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
}

.Container-Input-Texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Input-Container {
    box-shadow: 0 0 0 4px #85DE76;
    border-radius: 8px;
    width: 200px;
    height: 80px;

    display: flex;
    align-items: center;
}

.Input {
    width: 200px;
    height: 80px;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    font-size: 26px;
    font-family: Noto Sans;
    font-weight: bold;
    color: #85DE76;
    opacity: 0.6;
}

input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=text]{
    text-align: center;
}

.Input-Container-Descricao {
    box-shadow: 0 0 0 4px #85DE76;
    border-radius: 8px;
    width: 700px;
    height: 200px;
}

.Input-Descricao {
    padding: 10px 20px 10px 20px;
    width: 660px;
    height: 180px;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    font-size: 26px;
    font-family: Noto Sans;
    font-weight: bold;
    color: #85DE76;
    opacity: 0.6;

    word-wrap: break-word;
    word-break: break-all;
}

::placeholder {
    color: #85DE76;
}

input[type=text]::-webkit-input-placeholder {
    text-align: center;
}

.Input:focus{
    outline: none;
    color: #85DE76;
    opacity: 1;
}

.Input-Descricao:focus{
    outline: none;
    color: #85DE76;
    opacity: 1;
} 

.Botoes-Inferiores {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 200px;
}

.Caixa-Botao-Cancelar {
    grid-column: 1;
    background-color: #DE7676;
    border: 0;
    border-radius: 10px;

    width: 250px;
    height: 70px;

    font-family: Varela Round;
    color: white;
    font-size: 30px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}


.Botao-Cancelar{
    background-color: #DE7676;
    box-shadow: 0 0 0 4px white;
    border: 0;
    border-radius: 5px;

    width: 230px;
    height: 50px;


    font-family: Varela Round;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.Botao-Cancelar:hover {
    background-color: white;
    color: #DE7676;
}

.Caixa-Botao-Cadastrar {
    grid-column: 2;
    background-color: #85DE76;
    border: 0;
    border-radius: 10px;

    width: 250px;
    height: 70px;

    font-family: Varela Round;
    color: white;
    font-size: 30px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.Botao-Cadastrar{
    background-color: #85DE76;
    box-shadow: 0 0 0 4px white;
    border: 0;
    border-radius: 5px;

    width: 230px;
    height: 50px;


    font-family: Varela Round;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.Botao-Cadastrar:hover {
    background-color: white;
    color: #85DE76;
}