<!-- Tela 7 Acessar reservas -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/acessaClientes.css">

    <title>Tabela de Dados Reserva</title>

    <script type="text/javascript" src="./scripts/getTabelaReserva.js">
    </script>
</head>

<body>
    <div class = "Background-Foto">
        <div class = "Background-tabela">
            <div class = "Borda-interna">

                <div class = "Cabecalho">
                    <h1 class = "Titulo">Reservas</h1>
                    <button class = "Botao" onclick="location.href='telaPrincipal.html'"> 
                        <img class="Logo" src="./utils/img/excluir.png" alt="">
                    </button>
                </div>

                <table class>
                    <thead>
                        <tr class = "Linhas">
                            <th>ID Reserva</th>
                            <th>Suíte</th>
                            <th>CPF Cliente</th>
                            <th>Data Check-in</th>
                            <th>Data Check-out</th>
                            <th>Valor</th>
                            <th>Ações</th>
                            
                        </tr>

                    </thead>
                    <tbody id="tabelaReserva">
                        <!-- A tabela será preenchida dinamicamente pelo JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
