<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/cadCliente.css">
    <title>Cadastrar Cliente</title>
</head>
<body>
  <div class="Background-Foto">
    <div class="Card1">
      <div class="Card2">
        <h2 class="Titulo">Cadastrar Cliente</h2>

        <form class="Formulario" action="http://localhost:3000/cliente"  method="post">

          <div>
            <p>Primeiro Nome</p>
            <div class="Input-Container">
              <label for="primeiro_nome"></label><br>
              <input class="Input" type="text" id="primeiro_nome"   name="primeiro_nome" placeholder="Nome"><br><br>
            </div>
          </div>

          <div>
            <p>Sobrenome</p>
            <div class="Input-Container">
              <label for="ultimo_nome"></label><br>
              <input class="Input" type="text" id="ultimo_nome"   name="ultimo_nome" placeholder="Sobrenome"><br><br>
            </div>
          </div>

          <div>
            <p>CPF</p>
            <div class="Input-Container">
              <label for="cpf"></label><br>
              <input class="Input" type="number" id="cpf" name="cpf" placeholder="000.000.000-00"><br><br>
          </div>
        </div>

        <div>
          <p>Celular</p>
          <div class="Input-Container">
            <label for="ddd_telefone"></label><br>
            <input class="Input" type="number" id="ddd_telefone"    name="ddd_telefone" placeholder="(35) 9 0000-0000"><br><br>
          </div>
        </div>

        <div>
          <p>Data de Nascimento</p>
          <div class="Input-Container">
            <label for="data_nasc"></label><br>
            <input class="Input" type="date" id="data_nasc" name="data_nasc"><br><br>
          </div>
        </div>

          <div>
          <p>E-mail</p>
          <div class="Input-Container">
            <label for="email"></label><br>
            <input class="Input" type="email" id="email" name="email" placeholder="seuemail@mail.com"><br><br>
          </div>
          </div>

          <div class="Botoes-Inferiores">
          <div class="Caixa-Botao-Cancelar">
            
            <a class="Botao-Cancelar" href="./loginUser.html">CANCELAR</a>
          </div>
          <div class="Caixa-Botao-Cadastrar">
            <input class="Botao-Cadastrar" type="submit" value="CADASTRAR">
          </div>
          <div class="Caixa-Botao-Limpar">
            <img class="img-Limpar" src="../utils/img/data-cleaning.png" alt="">    
            <input class="Botao-Limpar" type="reset" value="LIMPAR CAMPOS">
          </div>  
        </div>

        </form> 
      </div>
    </div>
</div>
</body>
</html>