<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/cadCliente.css">
    <title>Cadastrar Cliente</title>
</head>
<body>
  <div class="Background-Foto">
    <div class="Card1">
      <div class="Card2">
        <h2 class="Titulo">Cadastrar Cliente</h2>

        <form class="Formulario" action="http://localhost:3000/cliente"  method="post">

          <div>
            <p>Primeiro Nome</p>
            <div class="Input-Container">
              <label for="primeiro_nome"></label><br>
              <input class="Input" type="text" id="primeiro_nome"   name="primeiro_nome"><br><br>
            </div>
          </div>

          <div>
            <p>Sobrenome</p>
            <div class="Input-Container">
              <label for="ultimo_nome"></label><br>
              <input class="Input" type="text" id="ultimo_nome"   name="ultimo_nome"><br><br>
            </div>
          </div>

          <div>
            <p>CPF</p>
            <div class="Input-Container">
              <label for="cpf"></label><br>
              <input class="Input" type="text" id="cpf" name="cpf"><br><br>
          </div>
        </div>

        <div>
          <p>Celular</p>
          <div class="Input-Container">
            <label for="ddd_telefone"></label><br>
            <input class="Input" type="text" id="ddd_telefone"    name="ddd_telefone"><br><br>
          </div>
        </div>

        <div>
          <p>Data de Nascimento</p>
          <div class="Input-Container">
            <label for="data_nasc"></label><br>
            <input class="Input" type="date" id="data_nasc" name="data_nasc"><br><br>
          </div>
        </div>

          <div>
          <p>E-mail</p>
          <div class="Input-Container">
            <label for="email"></label><br>
            <input class="Input" type="email" id="email" name="email"><br><br>
          </div>
          </div>

          <div class="Botoes-Inferiores">
            <input class="Botao-Cancelar" type="submit" value="Salvar">
            <input class="Botao-Cadastrar" type="submit" value="Salvar">
            <input class="Botao-Limpar" type="reset" value="Limpar">
          </div>

        </form> 
        <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
      </div>
    </div>
</div>
</body>
</html>