<!-- Tela 7.4 Confirmar reserva exclusao -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/confExclusao.css">
    <script type="text/javascript" src="./scripts/confExclusaoRes.js"></script>
    <title>Confirmar Exclusao Reserva</title>
</head>

<body>

    <div class="Background-Foto">
        <div class="Card1">
            <div class="Card2">
                <img class="Logo" src="./utils/img/excluir.png" alt="">

                <p class = "Confirmacao"> Deseja excluir esta reserva? </p>

                <div class="BotoesGeral">
                    <button class ="BotaoAfirm" id="confirmaExclusaoReserva">
                        <div class="BotaoDentro">
                            <p class="Text">
                                EXCLUIR
                            </p>
                        </div>
                    </button>

                    <button class ="BotaoNeg" onclick="location.href='telaPrincipal.html'">
                        <div class="BotaoDentroRed">
                            <p class="TextRed">
                                CANCELAR
                            </p>
                        </div>
                    </button>
                </div>

            </div>
        </div>

    </div>

</body>
</html>