<!-- Tela 3.1 Confirmar cliente cadastro -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/confCadastro.css">
    <script type="text/javascript" src="./scripts/confEditarQuarto.js"></script>
    <title>Confirmar Cadastro</title>
</head>

<body>

    <div class="Background-Foto">
        <div class="Card1">
            <div class="Card2">
                <img class="Logo" src="./utils/img/user.png" alt="">

                <p class = "Confirmacao"> Deseja mesmo editar este quarto? </p>

                <div class="BotoesGeral">
                    <button class ="BotaoAfirm" id="confirmaEdita">
                        <div class="BotaoDentro">
                            <p class="Text">
                                Editar
                            </p>
                        </div>
                    </button>

                    <button class ="BotaoNeg" onclick="location.href='telaPrincipal.html'">
                        <div class="BotaoDentro">
                            <p class="Text">
                                CANCELAR
                            </p>
                        </div>
                    </button>
                </div>

            </div>
        </div>

    </div>

</body>
</html>