<!-- Tela 5.1 Confirmar quarto cadastro -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/confCadastroQuar.css">
    <script text="text/javascript" src="./scripts/confCadastroQuarto.js"></script>
    <title>Confirmar Cadastro Quarto</title>
</head>

<body>

    <div class="Background-Foto">
        <div class="Card1">
            <div class="Card2">
                <img class="Logo" src="./utils/img/quarto.png" alt="">

                <p class = "Confirmacao"> Deseja mesmo cadastrar este quarto? </p>

                <div class="BotoesGeral">
                    <button class ="BotaoAfirm" id="confirmaCadastroQuarto" onclick="cadastraQuarto()">
                        <div class="BotaoDentro">
                            <p class="Text">
                                CADASTRAR
                            </p>
                        </div>
                    </button>

                    <button class ="BotaoNeg" onclick="location.href='telaPrincipal.html'">
                        <div class="BotaoDentro">
                            <p class="Text">
                                CANCELAR
                            </p>
                        </div>
                    </button>
                </div>

            </div>
        </div>

    </div>

</body>
</html>