<!-- Tela 8.1 Editar quarto, inserir dados -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/cadQuarto.css">
    <script type="text/javascript" src="./scripts/editaQuarto.js"></script>
    <title>Editar Quarto</title>
</head>
<body>
  <div class="Background-Foto">
    <div class="Card1">
      <div class="Card2">
        <h2 class="Titulo">Editar Quarto</h2>

        <form class="Formulario" id ="editaQuartoForm">

        <div class="Containers-Superior">
            <div class="Container-Input-Texto">
                <p>Suíte</p>
                <div class="Input-Container">
                <label for="suite"></label><br>
                <input class="Input" type="number" id="numeroQuarto"  placeholder="000"><br><br>
                </div>
            </div>

            <div class="Container-Input-Texto">
                <p>Capacidade</p>
                <div class="Input-Container">
                <label for="capacidade"></label><br>
                <input class="Input" type="number" id="capacidade" placeholder="0"><br><br>
                </div>
            </div>

            <div class="Container-Input-Texto">
                <p>Valor da diária</p>
                <div class="Input-Container">
                    <label for="valorDia"></label><br>
                    <input class="Input" type="number" id="precoNoite" placeholder="50"><br><br>
                </div>
            </div>
        </div>

        
            <div class="Container-Input-Texto">
                <p>Descrição</p>
                <div class="Input-Container-Descricao">
                    <textarea class="Input-Descricao" type="text" id="descricao" placeholder="Descrição do quarto..."></textarea>
                </div>
            </div>
        

        <div class="Botoes-Inferiores">
            <div class="Caixa-Botao-Cancelar">
                <a class="Botao-Cancelar" href="./acessaQuarto.html">CANCELAR</a>
            </div>
            
            <div class="Caixa-Botao-Cadastrar">
                <button class="Botao-Cadastrar" type="submit">EDITAR</button>
            </div> 
        </div>

        </form> 
      </div>
    </div>
</div>
</body>
</html>