<!-- Tela 3.3 Erro cpf existente -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/errCadastroExis.css">
    <title>CPF Existente</title>
</head>

<body>

    <div class="Background-Foto">
        <div class="Card1">
            <div class="Card2">
                <img class="Logo" src="./utils/img/warning.png" alt="">

                <p class = "Erro"> ERRO <br> Já existe um cliente cadastrado <br> com este CPF </p>

                <div class="BotoesGeral">

                    <button class ="BotaoNeg" onclick="location.href='telaPrincipal.html'">
                        <div class="BotaoDentro">
                            <p class="Text">
                                CANCELAR
                            </p>
                        </div>
                    </button>
                </div>

            </div>
        </div>

    </div>

</body>
</html>