<!-- Tela 4 Reservar Quarto, procurar quartos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reservarQuarto.css">
    <title>Document</title>
</head>
<body>
  <div class="Background-Foto">
    <div class="Card1">
      <div class="Card2">
        <h2 class="Titulo">Reservar Quarto</h2>

        <div class="Botoes-Inferiores">

            <div class="Caixa-Botao-Verificar">
                <a class="Botao-Verificar" href="./quartosDisponiveis.html" style="text-align: center; line-height: 50px;">Acessar quartos disponíveis</a>
            </div> 

            <div class="Caixa-Botao-Cancelar">
                <a class="Botao-Cancelar" href="./telaPrincipal.html">CANCELAR</a>
            </div>


        </div>

        </form> 
      </div>
    </div>
</div>
</body>
</html>