<!-- Tela 4 Reservar Quarto, procurar quartos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reservarQuarto.css">
    <title>Document</title>
</head>
<body>
  <div class="Background-Foto">
    <div class="Card1">
      <div class="Card2">
        <h2 class="Titulo">Reservar Quarto</h2>

        <form class="Formulario" action="http://localhost:3000/cliente"  method="post">

        <div class="Containers-Superior">
            <div class="Container-Input-Texto">
                <p>Data check-in</p>
                <div class="Input-Container">
                <label for="check-in"></label><br>
                <input class="Input" type="date" id="check-in" name="check-in"><br><br>
                </div>
            </div>

            <div class="Container-Input-Texto">
                <p>Data check-out</p>
                <div class="Input-Container">
                <label for="check-out"></label><br>
                <input class="Input" type="date" id="check-out"   name="check-out"><br><br>
                </div>
            </div>
        </div>
        

        <div class="Botoes-Inferiores">

            <div class="Caixa-Botao-Verificar">
                <input class="Botao-Verificar" type="submit" value="Acessar quartos disponíveis">
            </div> 

            <div class="Caixa-Botao-Cancelar">
                <a class="Botao-Cancelar" href="./loginUser.html">CANCELAR</a>
            </div>
            
            
        </div>

        </form> 
      </div>
    </div>
</div>
</body>
</html>