<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/telaPrincipal.css">
    <title>Document</title>
</head>

<body>

    <div class="Background-Foto">
        
        <!-- Barra divisória -->
        <div class = "Barra">
            <div class = "Icon"></div>
            <h1 class = "Titulo"> Hotel+ </h1>
            <div class = "SairIcon"></div>
            <button onclick="location.href='/cadCliente.html'">
                <p class = "Sair"> Sair </p>
            </button>
        </div>

        <!-- Botões topo -->
        <div class = 'BotaoGeral'>
            <div class = 'Botao-top'>
                <!-- Botão 1 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/cadastrarcliente.png" alt ="">
            
                        <p class = 'CadastrarCliente' >
                            Cadastrar Cliente
                        </p>
                    </div>
                </button>

                <!-- Botão 2 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/calendar.png" alt ="">
                
                        <p class = 'CadastrarCliente' >
                            Reservar Quarto
                        </p>
                    </div>
                </button>

                <!-- Botão 3 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/bedroom.png" alt ="">
                
                        <p class = 'CadastrarCliente' >
                            Cadastrar Quarto
                        </p>
                    </div>
                </button>
            </div>
            <div class = "Botao-bottom">
                <!-- Botão 4 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/listarCliente.png" alt ="">
                
                        <p class = 'CadastrarCliente' >
                            Acessar Clientes
                        </p>
                    </div>
                </button>

                <!-- Botão 5 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/listarReserva.png" alt ="">
                
                        <p class = 'CadastrarCliente' >
                            Acessar Reservas
                        </p>
                    </div>
                </button>

                <!-- Botão 6 -->
                <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                    <div class = 'BotaoFrente'>
                        <img class = 'LogoCadastrar' src="../utils/img/listarQuarto.png" alt ="">
                
                        <p class = 'CadastrarCliente' >
                            Acessar Quartos
                        </p>
                    </div>
                </button>
            </div>
        </div>
       

    </div>

</body>
</html>