<!-- Tela 2 Tela Principal -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/telaPrincipal.css">
    <title>Hotel+ Tela Principal</title>
</head>

<body>

    <div class="Background-Foto">
        
        <!-- Barra divisória -->
        <div class = "Barra">
            <div class = "TiLogo">
                <img class="Logo" src="./utils/img/hotelIcon.png" alt="">
                <h1 class = "Titulo"> Hotel+ </h1>
            </div>
            <!--
            <button class="SairBotao" onclick="location.href='/cadCliente.html'">
                <img class="Logo" src="./utils/img/excluir.png" alt="">
            </button>-->

            <div class = "Sair">
                <button class="SairBotao" onclick="location.href='sair.html'">
                    <img class="SairIcon" src="./utils/img/sairIcon.png" alt="">
                    <p class = "SairTexto"> Sair </p>
                </button>
            </div>
        </div>

        <!-- Botões topo -->
        <div class="Botoes">
            <div class = 'BotaoGeral'>
                <div class = 'Botao-top'>
                    <!-- Botão 1 -->
                    <button class = 'BotaoFundo' onclick="location.href='cadCliente.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotao' src="./utils/img/cadastrarcliente.png" alt ="">
                
                            <p class = 'TextoBotao' >
                                Cadastrar Cliente
                            </p>
                        </div>
                    </button>

                    <!-- Botão 2 -->
                    <button class = 'BotaoFundo' onclick="location.href='reservarQuarto.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotao' src="./utils/img/calendar.png" alt ="">
                    
                            <p class = 'TextoBotao' >
                                Reservar Quarto
                            </p>
                        </div>
                    </button>

                    <!-- Botão 3 -->
                    <button class = 'BotaoFundo' onclick="location.href='cadQuarto.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotaoCadQ' src="./utils/img/quarto.png" alt ="">
                    
                            <p class = 'TextoBotao' >
                                Cadastrar Quarto
                            </p>
                        </div>
                    </button>
                </div>
                <div class = "Botao-bottom">
                    <!-- Botão 4 -->
                    <button class = 'BotaoFundo' onclick="location.href='acessaClientes.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotao' src="./utils/img/listarCliente.png" alt ="">
                    
                            <p class = 'TextoBotao' >
                                Acessar Clientes
                            </p>
                        </div>
                    </button>

                    <!-- Botão 5 -->
                    <button class = 'BotaoFundo' onclick="location.href='acessaReserva.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotao' src="./utils/img/listarReserva.png" alt ="">
                    
                            <p class = 'TextoBotao' >
                                Acessar Reservas
                            </p>
                        </div>
                    </button>

                    <!-- Botão 6 -->
                    <button class = 'BotaoFundo' onclick="location.href='acessaQuarto.html'">
                        <div class = 'BotaoFrente'>
                            <img class = 'IconBotao' src="./utils/img/listarQuarto.png" alt ="">
                    
                            <p class = 'TextoBotao' >
                                Acessar Quartos
                            </p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
       

    </div>

</body>
</html>